@charset "ISO-8859-1";

body{
margin: 0;
padding: 0;	
	
	
}
.barMenu {
	background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
	width: 75%;
	float: right;
	position: fixed;
	margin-left: 25%;
}


.barMenu a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.myuser{
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;
	
}
.barMenu a:hover {
	background-color: #fb4d39;
	color: white;
}

.barMenu a.active {
	color: white;
}