@charset "ISO-8859-1";

.mycontainer {

	width: 65%;
	margin-top: 7.5%;
	margin-left: 30%;
	margin-right: 5%;
	height: auto;
}

.popimg {
	/* 	background: yellow;
 */
	width: auto;
	height: auto;
	padding-left: 3%;
}

.popimg2 {
	/* 	background: yellow;
 */
	width: auto;
	height: auto;
	padding-left: 3%;
	margin-top: 15%;
}

.popimg3 {
	/* 	background: yellow;
 */
	width: auto;
	height: auto;
	padding-left: 3%;
	margin-top: 5%;
}

button {
	background-color: #fb4d39;
	color: white;
	border: none;
	cursor: pointer;
	width: 32%;
	height: 100px;
}

button:hover {
	opacity: 0.8;
}

.toimg {
	height: 70px;
	width: 70px;
}

.title {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: auto;
	font-size: 12px;
}

.divbtn {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 5%;
}

.btn1 {
	width: 32%;
	background-color: #fb4d39;
	color: #f1f1f1;
	padding: 14px 20px;
	border: none;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	border-radius: 5px;
	height: auto;
}